# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# ##############################################################################
client/node_modules/
client/dist/
webpages/brainstorm/build
webpages/brainstorm/node_modules/
webpages/vendor/

# Exclude non-sample config files.
webpages/config/db_name.php
webpages/config/db_env.php
webpages/config/db.php
webpages/config/db_name_backup_*.php

# Exclude participant photos.
webpages/participant_photos/*.jpg
webpages/participant_photos/*.png
webpages/participant_photos/*.gif
webpages/participant_photos/*.webp

# Folders that won't necessarily in the project space, but since the root is outside webroot, they could be.
private/
upload_photos/

#Exclude devtools folders.
.ddev
.vscode
